@font-face {
  font-family: "iconfont"; /* Project id 4934378 */
  src: url('iconfont.woff2?t=1750417195515') format('woff2'),
       url('iconfont.woff?t=1750417195515') format('woff'),
       url('iconfont.ttf?t=1750417195515') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e61f";
}

.icon-yunfeib:before {
  content: "\e6e6";
  color: #000;
  font-size: 32rpx;
}

.icon-rengonggaichengyunshang_o:before {
  content: "\eb55";
  color: #000;
  font-size: 32rpx;
}

.icon-shou:before {
  content: "\e6a9";
  color: #000;
  font-size: 32rpx;
}

.icon-fa:before {
  content: "\e6aa";
  color: #72c0f1;
  font-size: 32rpx;
}

.icon-pai:before {
  content: "\e672";
}

.icon-jiahao1:before {
  content: "\e727";
}

.icon-danjiantou:before {
  content: "\e676";
}

.icon-huozhuxinxi:before {
  content: "\e761";
}

.icon-zaixiankefu:before {
  content: "\e607";
}

.icon-fangkecheliangjinchujilu:before {
  content: "\e671";
}

.icon-shimingrenzheng:before {
  content: "\e654";
}

.icon-jinxiaocunwuliu-yundanxinxi:before {
  content: "\e626";
}

.icon-liuliangquan:before {
  content: "\e611";
}

.icon-huoyuanguangchang:before {
  content: "\e73c";
}

.icon-xiaoxitongzhi:before {
  content: "\e61c";
}

.icon-guanyuwomen:before {
  content: "\e612";
}

.icon-cheliangxinxi:before {
  content: "\e7a5";
}

