@font-face {
  font-family: "iconfont"; /* Project id 4934378 */
  src: url('iconfont.woff2?t=1748399896747') format('woff2'),
       url('iconfont.woff?t=1748399896747') format('woff'),
       url('iconfont.ttf?t=1748399896747') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huozhuxinxi:before {
  content: "\e761";
}

.icon-zaixiankefu:before {
  content: "\e607";
}

.icon-fangkecheliangjinchujilu:before {
  content: "\e671";
}

.icon-shimingrenzheng:before {
  content: "\e654";
}

.icon-jinxiaocunwuliu-yundanxinxi:before {
  content: "\e626";
}

.icon-liuliangquan:before {
  content: "\e611";
}

.icon-huoyuanguangchang:before {
  content: "\e73c";
}

.icon-xiaoxitongzhi:before {
  content: "\e61c";
}

.icon-guanyuwomen:before {
  content: "\e612";
}

.icon-cheliangxinxi:before {
  content: "\e7a5";
}

